h3{
	border: 1px solid;
  	padding: 10px;
  	box-shadow: 5px 10px blue;
	margin: 1rem;
}
body{
	background-color: black;
	text-align: center;
}
h3{
    color: white;
}
h1{
	color :red;
}
h2{
	color: yellow;
}
span{
	color:white;
}
